<div class="br-footer inverted">
  <div class="container-lg">
    <div class="logo text-center" inverted><%= image_tag("govbr.svg", :alt => "Imagem") %></div>
    <div class="d-none d-sm-block">
    </div>
  </div>
  <div class="br-divider"></div>
  <div class="container-lg">
    <div class="info">
      <div class="text-down-01 text-medium pb-3 text-center">Este conteúdo não substitui o publicado no &nbsp;<strong>D.O.U.</strong> e outros canais oficiais</div>
    </div>
  </div>
</div>

<script src="../js/dsgov.js"></script>