    <div class="container">


    <div class="card-about m-3">
  <img src="https://images.unsplash.com/photo-1544906243-a69767cc000b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
  <div class="card-about-infos">
    <h2>about name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend. Mattis vulputate enim nulla aliquet. Leo duis ut diam quam nulla porttitor massa id neque. Sodales neque sodales ut etiam sit amet nisl purus. Luctus accumsan tortor posuere ac ut consequat. Aliquam nulla facilisi cras fermentum. Donec adipiscing tristique risus nec feugiat. Id leo in vitae turpis massa sed elementum tempus egestas. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Nisl purus in mollis nunc sed id semper risus in. Neque sodales ut etiam sit amet nisl purus in. Ac tortor vitae purus faucibus ornare suspendisse. Bibendum neque egestas congue quisque egestas diam. Dis parturient montes nascetur ridiculus mus mauris. about description with <strong>relevant info</strong> only.</p>
  </div>
  </div>

   <div class="card-about m-3">

  <div class="card-about-infos">
    <h2>about name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend. Mattis vulputate enim nulla aliquet. Leo duis ut diam quam nulla porttitor massa id neque. Sodales neque sodales ut etiam sit amet nisl purus. Luctus accumsan tortor posuere ac ut consequat. Aliquam nulla facilisi cras fermentum. Donec adipiscing tristique risus nec feugiat. Id leo in vitae turpis massa sed elementum tempus egestas. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Nisl purus in mollis nunc sed id semper risus in. Neque sodales ut etiam sit amet nisl purus in. Ac tortor vitae purus faucibus ornare suspendisse. Bibendum neque egestas congue quisque egestas diam. Dis parturient montes nascetur ridiculus mus mauris. about description with <strong>relevant info</strong> only.</p>
  </div>
          <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />

  </div>
    
    <div class="d-flex flex-row-reverse m-3">
    <%= link_to "Conheça as normas cadastradas", rules_path, class: "br-button secondary"  %>
    </div>
    <div class="d-flex flex-row-reverse m-3">
    <%= link_to "Conheça as áreas cadastradas", root_path, class: "br-button secondary"  %>
    </div>
    </div>