    <div class="container">


    <div class="card-about m-3">
  <img src="https://images.unsplash.com/photo-1510797215324-95aa89f43c33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" />
  <div class="card-about-infos">
    <h2>Legislação ambiental e sua abrangência</h2>
    <p>A Legislação ambiental provem de várias fontes, podendo ser proveninete de vários entes federativos (União, Estados e Municípios). Desse modo a sua área de atuação pode ter os mesmo limites territorias do emissor ou ser mais restritivo. No que se refere as áreas de atuação da lei, também temos normas específicas para diferentes setores, desse modo uma Legislação ambiental de manejo de peixe, por exemplo, pode interessar ao setor de hidrelétrico, mas não interessa ao setor ferroviário. A definição espacial de quais normas, portarias, leis, etc estão regulmanetando uma determinada área é uma questão primordial em projetos de infraestrutura dos mais diversos portes. Pensando em trazer previsibilidade e segurança jurídica para os investidores, empresários, fiscais e analistas governamentais foi desenvolvido o sistema de consulta especializada à legislação ambiental (CELLA) </p>
  </div>
  </div>

   <div class="card-about m-3">

  <div class="card-about-infos">
    <h2>Como o sistema funciona</h2>
    <p> O CELLA registra em seus bancos de dados informações sobre as regulamentações juntamente com os setores regulados e os polígonos espaciais que a norma incide. Desse modo, o usuário pode inserir o seu próprio polígono indicando a área em que seu projeto será desenvolvido para que o sistema indique quais normas registradas tem intersecção com a área pesquisada e portanto devem ser conhecidas e seguidas pelo respo0nável pela elaboração do projeto. O sistema tem a opção de mostrar as normas e hyperlinks da fonte oficial diretamente no site, mas também permite que o usúario baixe uma planilha em formato xls para consulta posterior</p>
  </div>
          <img src="https://images.unsplash.com/photo-1498354178607-a79df2916198?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />

  </div>
    
    <div class="d-flex flex-row-reverse m-3">
    <%= link_to "Conheça as normas cadastradas", rules_path, class: "br-button secondary"  %>
    </div>
    <%# <div class="d-flex flex-row-reverse m-3">
    <%= link_to "Conheça as áreas cadastradas", root_path, class: "br-button secondary"  %> </div> %>
    </div>