<div class="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-content col-sm-4 position-absolute">
        <h2>Consulta Espacializada à Legislação do Licenciamento Ambiental</h2>
        <p>Encontre o conjunto de normas atualizadas para o processo de licenciamento ambiental do seu projeto de infraestrutura</p>
        <%= link_to 'Saiba Mais', root_path, class: "btn-ghost" %>
      </div>
      <div class="carousel-item active" data-interval="10000">
        <img class="d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8))" src="https://images.unsplash.com/photo-1561533115-f893e69758e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Primeiro Slide">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img class="d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8))" src="https://images.unsplash.com/photo-1529529789882-da0f47b28624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80" alt="Segundo Slide">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img class="d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8))" src="https://images.unsplash.com/photo-1457728940372-39f8bf47f3d7?ixlib=rb-1.2.1&auto=format&fit=crop&w=748&q=80" alt="Terceiro Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>
<div class="cards">
  <%= link_to root_path do %>
  <div class="card-trip">
    <h2>Busque agora</h2>
    <img src="https://images.unsplash.com/photo-1544906243-a69767cc000b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <div class="card-trip-infos">
      <div>
        <p>Encontre as normas aplicadas na área de seu projeto.</p>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to root_path do %>
  <div class="card-trip">
    <h2>Veja a lista completa das normas</h2>
    <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
    <div class="card-trip-infos">
      <div>
        <p>Acesse nosso banco de dados e conheça todas as normas cadastradas.</p>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to root_path do %>
  <div class="card-trip">
    <h2>Cadastre-se</h2>
    <img src="https://images.unsplash.com/photo-1546198632-9ef6368bef12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
    <div class="card-trip-infos">
      <div>
        <p>Seja parte de nossa comunidade e contribua com a atualização do banco de dados.</p>
      </div>
    </div>
  </div>
  <% end %>
</div>
