.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
  margin-left: 0px;
  justify-items: center;
}

.card-trip {
  overflow: hidden;
  height: 270px;
  width: 300px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  border-radius: 4px;
}

.card-trip > img {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  color: #0c326f;
  font-size: 18px;
  font-weight: bold;
  margin: 6px;
  padding: 5px;
  text-justify: center
}

.card-trip h2:hover {
  text-decoration: none;
  color: #1351b4;
}

.card-trip p:hover {
  text-decoration: none;
  color: #1351b4;
}

.card-trip p {
  color: #0c326f;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  padding: 5px;
}

a:hover {
  text-decoration: none;
  color: #427597;
}

.card-trip .card-trip-infos h2:hover {
  color: #427597;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: -25px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-about {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-about img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.card-about h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-about p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-about .card-about-infos {
  padding: 16px;
}

.card-landing-page {
  overflow: hidden;
  height: 270px;
  width: 300px;
  background: white;
  margin-bottom: 30px;
  border-radius: 4px;
}

.card-landing-page span {
  padding-left: 85px;
  i {
    font-size: 130px;
  }
}

.card-landing-page h2 {
  color: #0c326f;
  font-size: 18px;
  font-weight: bold;
  margin: 6px;
  padding: 5px;
  text-justify: center
}

.card-landing-page h2:hover {
  text-decoration: none;
  color: #1351b4;
}

.card-landing-page p:hover {
  text-decoration: none;
  color: #1351b4;
}

.card-landing-page p {
  color: #0c326f;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  padding: 5px;
}

.card-landing-page .card-landing-page-infos h2:hover {
  color: #427597;
}

.card-landing-page .card-landing-page-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: -5px;
  text-align: center;
}