.sigla {
  font-size: 20px;
  color: black;
}

.sigla:hover {
  color: #0c326f;
}

.navbar-items li {
  font-size: 15px;
}

.br-header .actions .functions ul li a, .br-header .actions .links ul li a {
  text-decoration: none;
  display: inline;
  font-size: 14px;
}
