// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 0.5rem;    /* Footer height */
  position: relative;
}

.carousel-item {
  position: relative;
  background-size: cover;
  background-position: center;
  display: none;
  float: left;
  width: 100%;
  height: 500px;
  margin-right: -100%;
  transition: transform 0.6s ease-in-out;
}

.carousel-content {
  margin-top: 110px;
  left: 10%;
  height: 100%;
  width: 50%;
  z-index: 10;
  position: absolute;
}

.carousel-content h2 {
  font-weight: bold;
  color: white;
}

.carousel-content p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}
