<div class="container justify-content-center col-sm-5 mb-5">
  <div class="form-container">

    <h1>Cadastrar nova norma</h1>

    <%= render 'form', rule: @rule %>

    <%= link_to 'Voltar', root_path, class: "btn-ghost" %>
  </div>
</div>
