<div class="container d-flex">
  <div id="map" class="col-sm-9 mr-3" style="width: 100vw; height: 100vh; margin: 0 auto;">
  </div>

  <div class="form-div-over col-sm-3 mr-2" id="search-form" style="float: right; position: absolute, margin: 20px;">

    <%= simple_form_for :search, url: index_search_path do |f| %>
      <%= f.error_notification %>
      <div>
        <label for="industry">Escolha um setor:</label>
        <select id="industries" class="mb-2" name="industry" required>
          <option default></option>
          <option value="rodovia">Rodovia</option>
          <option value="ferrovia">Ferrovia</option>
          <option value="mineração">Mineração</option>
          <option value="linha de transmissão">Linha de Transmissão</option>
          <option value="geração hidrelétrica">Geração Hidrelétrica</option>
        </select>
      </div>
      <div>
        <label for="geom-input-option">Escolha uma forma de apresentar a área</label>
        <select id="geom-input-option" class="mb-2" name="geom-input-option" required>
          <option default></option>
          <option value="upload">Carregar arquivo shapefile compactado</option>
          <option value="draw">Desenhar sobre o mapa</option>
        </select>
      </div>

      <div id='form-3th-row'>
        <label for="shape-option">Tipo de geometria para o desenho</label>
        <select placeholrder="Escolha" id="shape-option" name="shape-option">
          <option default></option>
          <option value="polygon">Polígono</option>
          <option value="polyline">Linha</option>
        </select>
      </div>

      <div id='form-4th-row'>
        <input type="file">
      </div>
      <input type="hidden" name="geography" id='wkt-hidden-input' value= null required>

      <%= f.button :submit, class: "btn-primary" %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    <% end %>

  </div>
</div>
